@import '../../../app.component';

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.5);
  top: 0;
  left: 0;
  z-index: 10;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid $grayColor;
    background-color: $whiteColor;
    overflow: hidden;
    @include translate(-50%, -50%);
    @include border-radius(50%);

    .spinner-container {
      position: absolute;
      width: 55px;
      height: 55px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -webkit-animation: rotate 2s linear infinite;
      animation: rotate 2s linear infinite;

      .path {
        stroke-dasharray: 1,150;
        stroke-dashoffset: 0;
        stroke: $redColor;
        stroke-linecap: round;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90,150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90,150;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90,150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90,150;
    stroke-dashoffset: -124;
  }
}